* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
  background-color: #eee;
}

body {
  padding: 0.5rem;
}

.image-credit {
  color: gray;
  position: fixed;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.75rem;
}

.image-credit a {
  color: gray;
}
